.footerContainer {
   position: relative;
}

.footerContainer > hr {
   border: 1px solid var(--lightGrey);
}

.footer,
.socialLinks {
   display: flex;
   gap: 4rem;
}

.footer {
   align-items: center;
   flex-direction: column;
   height: 20rem;
   justify-content: center;
   padding: 1rem 2rem;
}

.blurF1,
.blurF2 {
   background: red;
   border-radius: 50%;
   filter: blur(200px);
   position: absolute;
	margin-top: 230px;

   z-index: -9;
   height: 192px;
   width: 416px;
}

.blurF1{
   left: 15%;

}

.blurF2 {
   background: #ff7300;
   right: 15%;
}

.socialLinks > img {
   cursor: pointer;
   height: 2rem;
   width: 2rem;
}
